<% @photo_galleries.each do |photo_gallery| %>
  <div class="jumbotron">
    <table>
      <tr>
        <td width='220' valign='top' align='middle'>
          <%= image_tag photo_gallery.photography %><br>
          <%= photo_gallery.photo_name %><br>
          <% user = User.find(photo_gallery.user_id) %>
          Автор фото: <%= user.name %>
        </td>          
        <td width='165' valign='top' align='middle'>
          <h7>Количество</h7><br>
          <h7>голосов:</h7><br>
          <h2><%= photo_gallery.likes_count %></h2>
          <%= form_for ([photo_gallery,photo_gallery.likes.build]) do |f| %>
          <%= f.submit 'LIKE THIS',  class: 'btn btn-link'%>
          <% end %>
        </td>
        <td width='530' valign='top' align='left'>
          <% if photo_gallery.comments.any? %>
            <p>Существующие комментарии:<p>
            <% photo_gallery.comments.each do |compr| %>
            <div>
              <h5></h5>
              <h5>Комментарий: "<%= compr.body %>"</h5>
              <% user = User.find(compr.user_id.to_i) %>
              <h5>Автор: <%= user.name %></h5>
              <h5>_______________</h5>
            </div>
            <% end %>
          <% else %>
            <h5>Комментариев пока нет, оставьте первый комментарий</h5>
          <% end %>
          <% if current_user %>
            <%= form_for([photo_gallery, photo_gallery.comments.build]) do |f| %>
              <p align='right'>
                <%= f.label 'Оставьте ваш комментарий' %><br>
                <%= f.text_area :body %>
              </p>
              <p align='right'>
                <%= f.submit 'Разместить комментарий', class: 'btn btn-primary' %>
              </p>
            <% end %>
            <% else %>
              <p>Для того, чтобы оставить комментарий необходимо войти в систему</p>
          <% end %>          
        </td>
      </tr>
    </table>
  </div>
<% end %>
