  <div class='comment'>
    <% comment.body.each_line do |line|  %>
      <span class='comment_body'> <%= line %></span><br>
    <% end %>
    <% user = User.find(comment.user_id.to_i) %>
    <span class='sub_comment'> Дата публикации: <%= comment.created_at %> Автор комментария: <%= user.name %></span>
    <% if current_user %>
      <span class='sub_comment'><%= link_to 'Ответить на комментарий', new_user_photo_comment_comments_path(parent_comment_id: comment, user_id: current_user, photo_id: comment.photo_id) %></span>
    <% end %>

    <%= render partial: '/comments/comment', collection: comment.sub_comments if comment.sub_comments %>
  </div>
