.jumbotron
  %div{:align => "center"}
    = image_tag photo.photo
    %br/
    %hr/
    %table{:width => "100%"}
      %tr
        %td{:width => "65%"}
          = photo.name
          %br/
          - user = User.find(photo.user_id)
          Автор фото: #{user.name}
        %td{:align => "right", :width => "15%"}
          - if photo.likes_count == 0
            %h7 За данное фото
            %br/
            %h7 еще не голосовали
          - else
            %h7 Количество
            %br/
            %h7 голосов:
        %td{:align => "center", :width => "10%"}
          %span= photo.likes_count
        %td{:width => "10%"}
          - if current_user
            = form_for ([current_user, photo, photo.likes.build]) do |f|
              = f.submit 'LIKE THIS',  class: 'btn btn-link'
    %hr/
  %table{:width => "100%"}
    %tr
      %td
        - if photo.comments.any?
          %p{:align => "center"} Последние комментарии:
          - @comments = photo.comments.order(created_at: :asc).where(parent_comment_id: nil)
          = render partial: '/comments/comment', collection: @comments, as: :comment
        - else
          %h5{:align => "right"} Комментариев пока нет, оставьте первый комментарий
    %tr
      %td
        - if current_user
          = form_for([current_user, photo, photo.comments.build]) do |f|
            %p{:align => "right"}
              = f.label 'Оставьте ваш комментарий'
              %br/
              = f.text_area :body
            %p{:align => "right"}
              = f.submit 'Разместить новый комментарий', class: 'btn btn-primary'