<div class="jumbotron">
  
  <table>
    <tr>
      <td width='220' valign='top' align='middle'>
        <%= link_to (image_tag photo.photo.thumb), photo_path(photo.id) %><br>
        <%= photo.name %><br>
        <%= "Автор фото: #{User.find(photo.user_id).name}" %>
      </td>
      <td width='165' valign='top' align='middle'>
        <% if photo.aasm_state == 'approved' %>
          <% if photo.likes_count == 0 %>
            <h7>За данное фото</h7><br>
            <h7>еще не голосовали</h7>
          <% else %>
            <h7>Количество</h7><br>
            <h7>голосов:</h7><br>
            <h2><%= photo.likes_count %></h2>
          <% end %>
          <% if current_user %>
            <%= form_for ([current_user, photo, photo.likes.build]) do |f| %>
              <%= f.submit 'LIKE THIS',  class: 'btn btn-link'%>
            <% end %>
          <% end %>
        <% elsif photo.aasm_state == 'moderated' %>
          Фото на модерации
        <% end %>
      </td>
      <td width='60%'valign='top' align='left'>
        <% if photo.comments.any? %>
          <p align='center'>Последние комментарии:</p>
          <% @comments = photo.comments.order(created_at: :asc).where(parent_comment_id: nil).limit(3) %> 
          <%= render partial: '/comments/comment', collection: @comments, as: :comment %>
        <% else %>
          <p align='center'>Комментариев пока нет, оставьте первый комментарий</p>
        <% end %>
        <% if current_user %>
          <%= form_for([current_user, photo, photo.comments.build]) do |f| %>
            <p align='right'>
              <%= f.label 'Оставьте ваш комментарий' %><br>
              <%= f.text_area :body %>
            </p>
            <p align='right'>
              <%= f.submit 'Разместить новый комментарий', class: 'btn btn-primary' %>
            </p>
          <% end %>
        <% end %>
      </td>
    </tr>
  </table>
</div>

