<div class="jumbotron">
  
  <table>
    <tr>
      <td width='220' valign='top' align='middle'>
        <%= link_to (image_tag photo.photo.thumb), photo_path(photo.id) %><br>
        <%= photo.photo_name %><br>
        <%= "Автор фото: #{User.find(photo.user_id).name}" %>
      </td>
      <td width='165' valign='top' align='middle'>
        <% if photo.aasm_state == 'approved' %>
          <% if photo.likes_count == 0 %>
            <h7>За данное фото</h7><br>
            <h7>еще не голосовали</h7>
          <% else %>
            <h7>Количество</h7><br>
            <h7>голосов:</h7><br>
            <h2><%= photo.likes_count %></h2>
          <% end %>
          <% if current_user %>
            <%= form_for ([current_user, photo, photo.likes.build]) do |f| %>
              <%= f.submit 'LIKE THIS',  class: 'btn btn-link'%>
            <% end %>
          <% end %>
        <% elsif photo.aasm_state == 'moderated' %>
          Фото на модерации
        <% end %>
      </td>
      <td width='60%'valign='top' align='left'>
        <% if photo.comments.any? %>
          <p>Последние комментарии:<p>
          <% photo.comments.order(created_at: :desc).limit(3).each do |compr| %>
            <div>
              <span>Комментарий: 
                <% compr.body.each_line do |line|  %>
                <br><span style="font-size: 1em;"> <%= line %></span>
              <% end %> </span>
              <% if current_user %>
                <span style="font-size: 0.7em"><%= link_to 'Ответить', '#' %></span>
              <% end %>
              <br>
              <% user = User.find(compr.user_id.to_i) %>
              <span style="font-size: 0.7em">Дата: <%= compr.created_at %> Автор: <%= user.name %></span>
              <h5>_______________</h5>
            </div>
          <% end %>
        <% else %>
          <h5 align='right'>Комментариев пока нет, оставьте первый комментарий</h5>
        <% end %>
        <% if current_user %>
          <%= form_for([current_user, photo, photo.comments.build]) do |f| %>
            <p align='right'>
              <%= f.label 'Оставьте ваш комментарий' %><br>
              <%= f.text_area :body %>
            </p>
            <p align='right'>
              <%= f.submit 'Разместить новый комментарий', class: 'btn btn-primary' %>
            </p>
          <% end %>
        <% end %>
      </td>
    </tr>
  </table>
</div>
