- @photo = photo
.jumbotron
  %table
    %tr
      %td{:align => "middle", :valign => "top", :width => "220"}
        = link_to (image_tag @photo.photo.thumb), photo_path(@photo.id)
        %br/
        = @photo.name
        %br/
        = "Автор фото: #{User.find(@photo.user_id).name}"
      %td{:align => "middle", :valign => "top", :width => "165"}
        - if @photo.aasm_state == 'approved'
          %h7 Количество
          %br/
          %h7 голосов:
          %br/
          %h2{id: "photo_#{@photo.id}_likes_count"}
            = @photo.likes_count
          - if current_user
            = render partial: 'like', locals: {photo: @photo}
            = link_to 'like', user_photo_likes_path(user_id: current_user, photo_id: @photo), method: :post, remote: true
        - elsif @photo.aasm_state == 'moderated'
          Фото на модерации
      %td{:align => "left", :valign => "top", :width => "60%"}
        - if @photo.comments.any?
          %p{:align => "center"} Последние комментарии:
          - @comments = @photo.comments.order(created_at: :asc).where(parent_comment_id: nil).limit(3)
          = render partial: '/comments/comment', collection: @comments, as: :comment
        - else
          %p{:align => "center"} Комментариев пока нет, оставьте первый комментарий
        - if current_user
          .comment_field
            = form_for([current_user, @photo, @photo.comments.build]) do |f|
              %p{:align => "right"}
                = f.label 'Оставьте ваш комментарий'
                %br/
                = f.text_area :body
              %p{:align => "right"}
                = f.submit 'Разместить новый комментарий', class: 'btn btn-primary'