<%= form_for :photo, url: user_photos_path do |f| %>

    <% if @photo.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= @photo.errors.count %> ошибки при сохранении записи:
        </h2>
        <ul>
          <% @photo.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
    <p>
      <%= f.label 'Введите подпись к фотографии:' %> <br>
      <%= f.text_field :photo_name %>
    </p>
  
    <p>
      <%= f.label 'Выберите файл:' %> <br>
      <%= f.file_field :photo, accept: 'image/jpeg,image/gif,image/png' %>
    </p>


  <%= f.submit "Отправить", class: "btn btn-primary" %>
<% end %>