<%= form_for :photo_gallery, url: photo_galleries_path do |f| %>

    <% if @photo_gallery.errors.any? %>
	    <div id="error_explanation">
	      <h2>
	        <%= @photo_gallery.errors.count %> ошибки при сохранении записи:
	      </h2>
	      <ul>
	        <% @photo_gallery.errors.full_messages.each do |msg| %>
	          <li><%= msg %></li>
	        <% end %>
	      </ul>
	    </div>
    <% end %>
    
    <p>
      <%= f.label 'Введите подпись к фотографии:' %> <br>
      <%= f.text_field :photo_name %>
    </p>
  
    <p>
      <%= f.label 'Выберите файл:' %> <br>
      <%= f.file_field :photography, accept: 'image/jpeg,image/gif,image/png' %>
    </p>


  <%= f.submit "Отправить", class: "btn btn-primary" %>
<% end %>